.sidebar {
    position: absolute;
    margin: 15px;
    right: 0;
    top: 0;
    z-index: 3;
    max-height: 100vh;
    width: 350px;
    overflow: scroll;
}

.gameControls {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.gameControls:hover {
    background-color: rgba(255, 255, 255, 1);
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.agentInfoContainer {
    border: 3px dashed #00bcd4;
    background-color: sandybrown;
    margin-top: 15px;
    width: 100%;
    padding: 15px;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.agentModule {
    display: flex;
    align-items: center;
    position: relative;
}

.agentName {
    font-size: x-large;
    padding-left: 8px;
}

.thoughtSelector {
    padding-left: 10px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    color: black;
    font-size: medium;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    padding: 4px 8px;
    text-align: center;
}

.agentInfo {
    text-align: justify;
}